body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  padding: 5px;
  flex: 1;
}

.watchlists {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 8px;
}

/* .stock-data {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */