.orders {
    border: 1px solid #B0B0B0;
    border-radius: 8px;
    height: 48.5vh;
    width: 300px;
    max-width: 300px;
    font-family: "Arial", sans-serif;
    color: #E0E0E0;
    background-color: #1E1E1E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orders-data {
    overflow-y: scroll;
    height: 39vh;
    padding: 5px;
}

.orders h2 {
    margin: 0 5px 0px 5px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.position-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 50px;
    position: relative;
    border: 1px solid #bdbdbd9a;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(117, 117, 117, 0.781);
}

.position-item .position-symbol {
    width: 140px;
    cursor: pointer;
    overflow: hidden;
}

.position-item .details {
    position: absolute;
    top: 2px;
    gap: 5px;
    right: 0px;
    left: 2px;
    display: flex;
    width: 100%;
}

.details .edit-price {
    position: absolute;
    right: 5px;
    width: 20px;
}

.details .disable {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.position-item .buy-price,
.buy-qty,
.status,
.order-type {
    background-color: #333333e3;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 2px;
}

.position-item .status-executed {
    color: #089981;
}

.position-item .type-buy {
    background-color: #08998136;
    color: #089981;
    /*16c55f 27ae5f75*/
    font-weight: 600;
}

.position-item .type-sell {
    background-color: #f236462c;
    color: #f23645;
    /*16c55f 27ae5f75*/
    font-weight: 600;
}

.position-item .edit-price:hover {
    background-color: #068a74;
}

/* .executed-color {
    background: #0899812f;
}

.pending-color {
    background: #fa2f4038;
} */

.position-item .btn-cancel {
    color: white;
    border: none;
    border-radius: 5px;
    background: #333333;
    padding: 3px 10px;
    width: 60px;
    position: absolute;
    right: 4px;
    cursor: pointer;
    border: 1px solid #555555;
    transition: background-color 0.3s;
}

.position-item .btn-cancel:hover {
    background-color: #252525;
}


/* ModifyAMount.js */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Arial", sans-serif;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background: white;
    padding: 20px;
    border-radius: 2px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.dialog h2 {
    color: black;
    text-align: center;
}

.dialog label:first-of-type {
    color: black;
    margin-top: 10px;
    display: flex;
    font-size: 18px;
    margin-bottom: 3px;

}

.dialog label:last-of-type {
    color: black;
    display: flex;
    font-size: 18px;
    margin-bottom: 3px;

}

.dialog input {
    width: 94%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
    font-size: 15px;
}

.dialog input:focus {
    border: 2px solid #333333;
}

.dialog .buttons {
    display: flex;
    justify-content: space-between;
}

.dialog button {
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
}

.dialog button:first-child {

    color: white;
    background: #f23645;
}

.dialog button:last-child {
    background: #089981;
    color: white;
}