.positions {
    border: 1px solid #B0B0B0;
    border-radius: 8px;
    height: 89.7vh;
    width: 300px;
    max-width: 300px;
    font-family: "Arial", sans-serif;
    color: #E0E0E0;
    background-color: #1E1E1E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.positions-data {
    overflow-y: scroll;
    height: 89.5%;
    padding: 5px;
}

.positions h2 {
    margin: 0 5px 0px 5px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.position-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 50px;
    position: relative;
    border: 1px solid #bdbdbd9a;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(117, 117, 117, 0.781);
}

.position-item .position-symbol {
    width: 140px;
    cursor: pointer;
    overflow: hidden;
}

.position-item .details {
    position: absolute;
    top: 2px;
    gap: 5px;
    right: 0px;
    left: 2px;
    display: flex;
    width: 100%;
}

.position-item .status {
    background-color: #333333e3;
    padding: 1px 5px;
    font-size: 12px;
}

.position-item .buy-price,
.buy-qty {
    top: 0;
    background-color: #333333e3;
    padding: 1px 5px;
    font-size: 12px;
}

.buy-status {
    background-color: #333333e3;
    padding: 1px 5px;
    font-size: 12px;
    right: 5px;
}

.btn-executed-color {
    background: #089981;
}

.btn-pending-color {
    background: #333333;
}

.position-item button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 60px;
    position: absolute;
    right: 4px;
    cursor: pointer;
    border: 1px solid #555555;
    transition: background-color 0.3s;
}

.position-item .btn-pending-color:hover {
    background-color: #252525;
}

.position-item .btn-executed-color:hover {
    background-color: #068a74;
}